html, body {
    margin: 10;
    border: 10;
    font-size: 100%;
    background-color: palegoldenrod;
  }
  

.profile-pic {
    display: flex;
    padding: 20pt 20pt;
    border-radius: 50%;
}